.admin-bar body.tonic--enabled {
  border-top: none;
  .ui-dialog {
    .ui-dialog-titlebar-close {
      background: none;

      .ui-icon-closethick {
        top: 100%;
      }
    }
    fieldset {
      background-color: transparent;
      border: none;
    }
  }
  .layout {
    padding-top: 0;
  }
}
